form{
    display:block;
    padding:10px;
    border:1px solid #CCC;
    border-radius:3px;
}
table{
    width:100%;
    border-collapse: collapse;
}
table a {
    display:block;
    padding:4px;
}
th, td{
    border:1px solid #ccc;
}
td{
    padding:0;
    height:20px;
    line-height:20px;
}
td input{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    border:0 none;
    line-height:20px;
    height:20px;
}