body {
  margin: 0;
  font-size: 28px;
  background-image:"../imagem/fundo.png"
  
}

.header {
  background-size: 100%;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  background-image:url("../imagem/gestao.jpg");
  background-size: 80%;
}

#navbar {
  overflow: hidden;
  background-color: #111;
}

#navbar a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: blue;
}

#navbar a.active {
  background-color: 444;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}
