  table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
line-height: 2px;
color:#818181;
}
    table th {
        background-color:#337ab7;
        color: white;
        font-size:1em;
        
    }

    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        font-size: 15px;
    }
    tr{
        width: 100%;
    }

    td{
        font-size: 20px;
    }
